<header>
    <nav class="navbar navbar-expand-lg bg-secondary">

        <div class="container-fluid">

            <!-- logo and brand name -->
            <a class="navbar-brand">
                <img src="../../../../assets/logo.png" alt="SeaBasket Logo" width="35" height="30"
                    class="d-inline-block align-text-top">
                <span class="text-white mx-1">Seabasket</span>
            </a>


            <!-- small screen toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- nav link and search bar -->
            <div class="collapse navbar-collapse mx-2" id="navbarSupportedContent">

                <form class="d-flex input-group mt-1" role="search" style="max-width:500px;" *ngIf="router.url.includes('products')">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="serchName" [(ngModel)]="serchName" (change)="onSerchClick()">
                    <button type="submit" class="btn btn-light" (click)="onSerchClick()"><i class="bi bi-search"></i></button>
                </form>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item ms-lg-5 ms-2 me-2">
                        <a class="nav-link text-white fs-5" [routerLink]="['/home']"><i class="bi bi-house-fill">&nbsp;Home</i></a>
                    </li>

                    <li class="nav-item ms-2">
                        <a class="nav-link text-white fs-5" [routerLink]="['/products']"><i class="bi bi-bag-fill">&nbsp;Products</i></a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link text-white fs-5" [routerLink]="['/order/cart']"><i class="bi bi-cart-dash-fill">Cart</i></a>
                    </li>

                    <li class="nav-item mx-2" *ngIf="isLogedIn">
                        <a class="nav-link text-white fs-5" [routerLink]="['/profile']">
                            <img src="../../../../assets/man.png" alt="User Profile" width="30" height="30"
                                class="d-inline-block align-text-top">
                            {{userName | titlecase}}</a>
                    </li>

                    <li class="nav-item mx-2" *ngIf="!isLogedIn">
                        <a class="nav-link text-white fs-5" [routerLink]="['auth/login']">Login<i
                                class="bi bi-box-arrow-in-right"></i></a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>
</header>