<div class="p-lg-5 p-sm-1 container-fluid">

    <div class="row">

        <!-- image container -->
        <div class="col-xl-8 col-md-7 col-0 d-flex aling-items-center">
            <img src="../../../assets/verification.jpg" alt="verification page side image" class="img-fluid"
                style="object-fit:cover;">
        </div>
        <!-- /image container -->

        <!-- form container -->
        <div class="col-xl-4 col-md-5 col-12 d-flex pb-5">
            <div class="conatiner p-lg-3 align-self-center">

                <div class="d-flex justify-content-center">
                    <img src="../../../assets/logo-with-name.png" alt="SeaBasket Logo" class="w-25 col-4">
                </div>
                <p class="h3 text-center text-success mb-3">Enter Your OTP</p>

                <!-- form  -->
                <form [formGroup]="verificationForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3 col-6 m-auto">
                        <input type="text" class="form-control col-6" id="otp" formControlName="OTP"
                            [ngClass]="{'is-invalid':f['OTP'].invalid && f['OTP'].touched}">
                        <span *ngIf="f['OTP'].errors && f['OTP'].touched" class="invalid-feedback">
                            <span *ngIf="f['OTP'].errors['required']">OTP is required.</span>
                            <span *ngIf="f['OTP'].errors['pattern']">Please
                                enter a valid OTP.</span>
                        </span>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success px-4">Continue</button>
                    </div>
                </form>
                <!-- /form -->

            </div>
        </div>
        <!-- form container -->

    </div>
</div>