<div class="p-lg-5 p-sm-1 container-fluid">

    <div class="row">

        <!-- image container -->
        <div class="col-xl-8 col-md-7 col-0  d-flex aling-items-center">
            <img src="../../../assets/reset-password.jpg" alt="login page side image" class="img-fluid"
                style="object-fit: cover;">
        </div>
        <!-- /image container -->

        <!-- form container -->
        <div class="col-xl-4 col-md-5 col-12 d-flex">
            <div class="conatiner p-lg-3 align-self-center mx-auto">

                <div class="d-flex justify-content-center">
                    <img src="../../../assets/logo-with-name.png" alt="SeaBasket Logo" class="w-25 col-4">
                </div>
                <p class="h3 text-center text-success mb-3"> Create new password</p>
                <p class="text-body-tertiary mb-3">We'll ask for this password whenever you Login.</p>

                <!-- form  -->
                <form [formGroup]="resetPasswordFrom" (ngSubmit)="onSubmit()">

                    <!-- password -->
                    <div class="mb-3">
                        <label for="password" class="mb-1">New Password</label>

                        <input type="password" class="form-control" id="password" placeholder="Enter New Password"
                            formControlName="newPassword"
                            [ngClass]="{'is-invalid':f['newPassword'].invalid && f['newPassword'].touched}">
                        <span *ngIf="f['newPassword'].errors && f['newPassword'].touched" class="invalid-feedback">
                            <span *ngIf="f['newPassword'].errors['required']" class="">New password is required.</span>
                            <span *ngIf="f['newPassword'].errors['pattern']" class="">New password should have at least
                                one letter, one digit, one special character and minimum length of 6.</span>
                        </span>

                    </div>

                    <!--confirm password -->
                    <div class="mb-3">
                        <label for="password" class="mb-1">Confirm Password</label>

                        <input type="password" class="form-control" id="password" placeholder="Confirm Password"
                            formControlName="confirmPassword"
                            [ngClass]="{'is-invalid':f['confirmPassword'].invalid && f['confirmPassword'].touched}">
                        <span *ngIf="f['confirmPassword'].errors && f['confirmPassword'].touched"
                            class="invalid-feedback">
                            <span *ngIf="f['confirmPassword'].errors['required']" class="">Confrim Password is
                                required.</span>
                            <span *ngIf="f['confirmPassword'].errors['passwordMatch']" class="">Confirm password is not
                                matching password.</span>
                        </span>

                    </div>

                    <hr>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success px-4">Save Password and Login</button>
                    </div>
                </form>
                <!-- /form -->

            </div>
        </div>
        <!-- form container -->

    </div>
</div>